

<% include header.html %>

  <body>
    <h1> <%= __('Welcome to NodePOP') %>  </h1>
    <hr>
    <h3> <%= __('Listado de anuncios') %>  </h3>


   
    
    <div class="ads-wrapper">

      <% for(let anuncio of resultSet){%>
        
        
          <div class="ad-card">
            <p></p> <img src="/images/<%=anuncio.photo%>" alt="">  <p></p>
            </p><b>Modelo: </b> <%= anuncio.name %> </p> <b>Precio:</b> <%= anuncio.price %> EUROS 
            <p></p> <b>Tags:</b> <%= anuncio.tags %>  </p>
            <p></p> <b>En venta:</b> <%= anuncio.venta %>  </p>
        </div>
      
        
        <%}%>
      
      </div>
     

  

  <% include footer.html %>
