body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
  width: 200px;
  height: 120px
}

.ads-wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ad-card{
  margin:2rem;
}